{% macro native(dtype,item_size) %}
local buffer_fill = buffer.fill
function Kernel.fill(b: buffer, offset: number, value: number, count: number?)
    buffer_fill(b,offset,value,count)
end 
{% endmacro %}

{%macro classic(dtype,item_size)%}
function Kernel.fill(b: buffer, offset: number, scalar: number, count: number?)
    local _size = if count then offset+count*item_size else buffer_len(b)
    _size -=1
    
    for pointer = offset, _size,item_size do
        buffer_write{{dtype}}(b, pointer,scalar)        
    end
end
{%endmacro%}